// Body
$body-bg: #000000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$relawayreg: 'Raleway';
$relawaybold: 'Raleway-bold';
$robotoreg: 'Roboto';
$playfairbold: 'Playfair Display';




// Colors
$white: #ffffff;
$golden: #D4C17F;
$grey: #242B33;;
$footergrey:#2D343C;


// Sizes
$max-mobile-vw: 1024px;
$max-laptop-vw: 1910px;
$main-container-width: 1634;
$project-card-width: 394;
$project-card-height: 390;
$header-min-h:60px;
$header-max-h:280px;
